<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.trackearubicaciones">


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />




    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrackearUbicaciones"
        tools:targetApi="31">

        <!-- Permite osmdroid guardar el caché -->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>








        <activity android:name=".GestionarUsuariosActivity" />
        <activity android:name=".TopografoMainActivity" />
        <activity android:name=".RegistrarTerrenoActivity" />
        <activity android:name=".MisTerrenosActivity" />
        <activity android:name=".AdminMainActivity" />
        <activity android:name=".HomeActivity" android:exported="false" />
        <activity android:name=".RegisterActivity" android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
